%p#notice= notice
%h1 Listing Users
%table
  %thead
    %tr
      %th Card
      %th Phone
      %th Admin
      %th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.card
        %td= user.phone
        %td= user.admin
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User', new_user_path
