= form_for Visit.new do |f|
  - (Date.today..Date.today.end_of_week.weeks_since(2)).each do |day| 
    = day
    - Tng.where(day: day.wday).each do |tng|
      = tng.discipline.name
      .field
        = f.hidden_field :tng_id, value: tng.id
        = f.hidden_field :date, value: day
        = f.submit 'записаться'  
    %br/


  
 
