%p#notice= notice
%h1 Listing Trainers
%table
  %thead
    %tr
      %th Name
      %th Discipline
      %th Town
      %th{:colspan => "3"}
  %tbody
    - @trainers.each do |trainer|
      %tr
        %td= trainer.name
        %td= trainer.discipline_id
        %td= trainer.town_id
        %td= link_to 'Show', trainer
        %td= link_to 'Edit', edit_trainer_path(trainer)
        %td= link_to 'Destroy', trainer, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Trainer', new_trainer_path
